/* CSS Document */
a.logo{
	background:url(/data/images/logo.gif) left top no-repeat; width:auto; height:44px; line-height:44px;padding-left:416px;display:inline-block; text-decoration:none;cursor:pointer;
}


